.header-color {
  background-color: #f1f3ff;
  max-width: 100%;
}

.sticky {
  position: fixed;
  width: 100%;
  top: 0;
}
.car-title{
  font-size:36px;
}
.col-small2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-small10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.pe-6 {
  padding-right: 5.5rem !important;
}

.logo {
  background-color: #0d28a6;
  width: 100px;
  height: 34px;
  padding-left: 100px;
}
.btn-green{
  background-color: #5CB85F;
}
.logo-margin {
 margin-left: 7%;
}
.nav-text {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 10px
}
.card-invis {
  border: none;
}

.car-section {
  display: flex;
  align-items: center;
}

.text-car-section {
  max-width: 400px;
}

.text-head {
  position: absolute;
  width: 568px;
  height: 108px;
  left: 136px;
  top: 177px;

  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
  color: black;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}
.service-section {
  align-items: center;
  margin-top: 4rem;
}

.img-car {
  margin: -5;
  width: 659px;
  height: 380px;
}

.img-service {
  margin-left: 4rem;
  width: 26rem;
  height: 24rem;
}

.icon-circle-small {
  width: 24px;
  height: 24px;
  padding: 2px 2px;
  border-radius: 50%;
  font-size: 16px;
  text-align: center;
  font-weight: bolder;
}
.text-small {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: black;
}

.text-bold {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 520;
}
.col-35 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  max-width: 30%;
}

.check-list-section {
  display: flex;
}
.check-list-icon {
  display: flex;
  background-color: #cfd4ed;
  width: 15px;
  position: relative;
  height: 10px;
  border-radius: 50%;
  padding-right: 10px;
}

.btn-2 {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.why-us-section {
  align-items: center;
  padding-top: 5vh;
  margin-top: 5.5rem;
}


.testimonial {
  align-items: center;
  margin-top: 8rem;
}

.text-testimonial {
  font-size: 1.5rem;
}

.carousel-item{
  max-width: 100%;
  height: 300px;
  position: relative;
  background-color: white;
}
.slider {
  width: 100%;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  margin-bottom: 20px;
}
.jumbotron-slide {
  padding: 60px 35px;
  width: 619px;
  border-radius: 0.5rem;
  background-color: #f1f3ff;
  margin:auto;
  display: flex;
}

.jumbotron-slide2 {
  padding: 60px 35px;
  width: 619px;
  border-radius: 0.5rem;
  background-color: #f1f3ff;
  margin:auto;
  display: flex;
}

.jumbotron-slide3 {
  padding: 60px 35px;
  width: 619px;
  border-radius: 0.5rem;
  background-color: #f1f3ff;
  margin:auto;
  display: flex;
  align-items: center;
  justify-content: center;
}


.jumbotron-img {
  margin: 20px 0;
  left: 0;
}

.slider-text {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.slider-text2 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.carousel-button{
  margin-top: 35px;
}

.btn-circle-small {
  width: 30px;
  height: 30px;
  padding: 2px 2px;
  border-radius: 50%;
  font-size: 16px;
  text-align: center;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.faq-section {
  margin-top: 10rem;
}

.footer {
  font-size: medium;
  margin-top: 10rem;
}

.footer-link {
  color: black;
  font-weight: 550;
  text-decoration: none;
}

.outline-icon {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}
.accordion-box{
background: #FFFFFF;
border: 1px solid #D4D4D4;
box-sizing: border-box;
border-radius: 4px;
}

.jumbotron-blue{
  max-width: 1168px;
  height: 326px;
  background-color: #0D28A6; 
  border-radius: 13px;
  padding: 4rem 4rem;
  margin-top: 8rem;
}

.footer-center{
  margin-left: 0.5%;
}

@media only screen and (max-width: 500px) {
  .navbar-sm{
    padding-bottom: -20%;
  }
  .car-container{
    padding-top: -15%;
  }
  
  .car-title{
    font-size:45px;
    max-width: 90%;
    
  }
  .logo-margin {
    margin-left: 0;
   }

   .col-small2 {
     margin-top: -2rem;
  }
  
  .col-small10 {
    margin: 0%;
  }

  .img-car {
    margin-top: 3rem;
    margin-left: 3.2%;
    width: 99%;
    height: 15rem;
  }

  .service-section {
    align-items: center;
    margin-top: 6rem;
  }
  

  .img-service {
    width: 70%;
    height: 70%;
    margin-left: 3.5rem;
    margin-top: -6rem;
  }
  
  .why-us-section {
    display: flex;
    align-items: center;
    margin: auto;
    max-width: 100%;
    justify-content: center;
    margin: 0 15.6%;
  }
  
  .why-us-title{
    text-align: center !important;
  }


  .testimonial {
    align-items: center;
    margin-top: 3rem;
  }

  .carousel-item{
    max-width: 100%;
    height: 390px;
    position: relative;
    background-color: white;
  }
  .jumbotron-slide {
    padding: 50px 35px;
    width: 90%;
    height: 372px;
    border-radius: 0.5rem;
    background-color: #f1f3ff;
    margin-left: 5%;
  }
  
  .jumbotron-slide2 {
    padding: 50px 35px;
    width: 90%;
    height: 372px;
    border-radius: 0.5rem;
    background-color: #f1f3ff;
    padding-left: -5px;
  }

  .jumbotron-slide3 {
    padding: 50px 35px;
    width: 90%;
    height: 372px;
    border-radius: 0.5rem;
    background-color: #f1f3ff;
  }
  .jumbotron-img {
    display: flex;
    position: relative;
    margin-left: 215%;
  }
  
  
  .jumbotron-stars {
    display: flex; 
    margin-top: 40%;
    left: 0;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    flex-wrap: wrap;
    margin-left: 14.6%;
  }
  .jumbtron-stars > *{
      flex-shrink: 0;
      width: 100%;
      max-width: 100%;
      padding-right: calc(var(--bs-gutter-x) * 0.5);
      padding-left: calc(var(--bs-gutter-x) * 0.5);
      margin-top: var(--bs-gutter-y);
  }

  .slider-text {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    margin-left: -4rem;
    margin-top: 2rem;
  }

  .slider-text2 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    margin-left: -4rem;
    margin-top: 0.5rem;
  }

  .carousel-button{
    margin-top: 2%;
  }
  .why-us-text{
    text-align: center !important;
  }

  .faq-section {
    margin-top: 18%;
    display: flex;
    align-items: center;
  }

  .faq-title {
    margin-top: 18%;
    margin: 0 5%
  }

  .faq-text {
    margin-top: 18%;
    margin: 0 2%
  }
  

  .footer-center{
    margin-left: 0.5%;
  }
  .footer-mb{
    margin-bottom: 5%;
  }

  .jumbotron-blue{
    max-width: 100%;
    height: 50%;
    background-color: #0D28A6; 
    border-radius: 13px;
    padding: 20% 20%;
    margin-top: 5rem;
  }

  .car-section {
    display: flex;
    align-items: center;
    padding-top: -20%;
  }
  

  .footer {
    font-size: medium;
    margin-top: 18%;
  }
}